@import "tailwindcss";

:root {
  --green-dark: #3F4C2E;
}

/* Base look */
html, body {
  height: 100%;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* IMPORTANT: reset link default browser */
a {
  color: inherit;
  text-decoration: none;
}
